* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #view, #file {
    width: 100%;
    height: 100%;
}

#view ul {
    width: 100%;
    list-style-type: none;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#view ul li {
    margin: 6px;
    flex-grow: 1;
    min-width: 180px;
    box-shadow: 0px 0px 4px -1px #000;
    border-radius: 2px;
    border-bottom: 5px solid #999;
    position: relative;
    order: 2;
    width: 210px;
}

#view ul.list-files.list > li {
    width: 100%;
}

#view ul li a {
    font-size: 17px;
    width: 100%;
    padding: 10px 16px;
    background-color: rgba(0, 0, 0, .1);
    color: #999;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#view ul.list-files.list > li a i,
#view ul.list-files.side-by-side > li a i {
    margin-left: 15px;
}

#view ul.list-files.list > li a.favorite i,
#view ul.list-files.side-by-side > li a.favorite i {
    margin-left: 0;
}

#view ul.list-files.list > li a.favorite,
#view ul.list-files.side-by-side > li a.favorite {
    top: 5px;
    bottom: 5px;
}

#view ul li a.icon {
    position: absolute;
    width: auto;
    right: 0;
    top: 0;
    height: 45px;
    padding: 5px;
    font-size: 15px;
    background: transparent;
    color: #999;
}

#view ul li:hover a.icon {
    background-color: transparent;
    color: #666;

}

#view ul.thumbs > li {
    width: 120px;
    height: 120px;
    flex-grow: initial;
    min-width: initial;
}

#view ul > li.file {
    order: 3;
}


#view ul > li.folder {
    order: 1;
}

#view ul > li.folder.favorited {
    order: 0;
}

#view ul > li.file.favorited {
    order: 2;
}

#view ul.thumbs > li.open {
    border-radius: 2px 0 0 2px;
    border-bottom-color: #444;
}

#view ul.thumbs > li > a {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 15px;
    text-align: center;
    padding: 0 11px;
    padding-top: calc(100% - 50px);
    overflow: hidden;
    border-radius: 0;
}

#view ul > li > a.favorite {
    position: absolute;
    top:5px;
    left: 5px;
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
    /*display: none;*/
    z-index: 2;
}

#view ul > li.favorited {
    /*order: 0;*/
}

#view ul > li > a.favorite.favorited > i {
    color: #b69f00;
    /*display: block;*/
}

#view ul > li:hover > a.favorite,
#view ul > li > a.favorite:hover {
    background-color: transparent;
}

#view ul.thumbs > li > a.icon {top: 4px;position: absolute;width: auto;height: auto;padding: 0;right: 0;}

#view ul.thumbs > li > a > i {
    font-size: 42px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 15px 10px;
}

#view ul > li > a.favorite > i {
    position: static;
    font-size: 17px;
    padding: 0;
}

#view ul li a.icon:hover {
    color: #333;
}

#view ul li .open-list {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    cursor: pointer;
    color: #666;
    display: table;
}

#view ul.thumbs li .open-list {
    top: 3px;
    bottom: initial;
}

#view ul li.open .open-list,
#view ul li .open-list:hover {
    color: #000;
}

#view ul li a i {
    color: #666;
    text-align: center;
    margin: 0 3px 0 0;
    display: block;
    font-size: 1.25em;
}

#view ul > li:hover {
    border-bottom-color: #444;
}

#view ul li:hover > a {
    color: #444;
    background-color: rgba(0, 0, 0, .2);
}

#view ul li:hover > a > i {
    color: #333;
}

#view ul.history {
    background-color: rgba(0, 0, 0, .1);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px 20px;
}

#view ul.history li {
    margin: 6px 0;
    flex-grow: 0;
    box-shadow: none;
    border-radius: 0;
    min-width: auto;
    display: inline-block;
    width: auto;
}

#view ul.history li a {
    background-color: transparent;
    padding: 10px 13px;
    font-size: 22px;
    line-height: 36px;
}

#view ul.history li a i {
    display: none;
}

#view ul.history li:first-child a i {
    display: block;
}

#view ul.history li.current,
#view ul.history li.current a {
    color: #333;
    border-color: #333;
}

#view ul.history li:last-child, 
#view ul.history li:last-child a, 
#view ul.history li:last-child:hover {
    border-color: #999;
    flex-grow: 1;
    cursor: default;
}

#file h1 {
    width: 100%;
    padding: 20px 15px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.2);
}

#file h1 a {
    color: #333;
}

#file .contents {
    padding: 15px 5px;
}

#file .contents .line-content {
    width: 100%;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #bbb;
}

#file .contents .line-content::before {
    content: attr(data-line);
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    background-color: #666;
    color: #fff;
    text-align-last: center;
}

#file .contents .line-content .line {
    width: calc(100% - 30px);
    padding: 5px 15px 5px 10px;
    white-space: pre;
}

.preview-folders {
    position: absolute;
    top: 100%;
    left: -1px;
    display: none;
    z-index: 2;
    background-color: #e5e5e5;
    border: 1px solid #cdcdcd;
    border-bottom: 4px solid rgb(68, 68, 68);
    width: calc(100% + 2px);
    border-radius: 0px 0px 3px 3px;
    z-index: 3;
}

#view ul.list-files li.open .preview-folders {
    display: block;
}

#view ul.list-files li .preview-folders ul {
    padding: 5px;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
}

#view ul.list-files.thumbs li .preview-folders {
    min-width: 300px;
    border-bottom-width: 8px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 60vh;
    width: 85vw;
    max-width: 600px;
}

#view ul.list-files li .preview-folders ul li {
    border: none;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
    margin: 5px 0;
    min-width: inherit;
}

#view ul.list-files.thumbs li .preview-folders ul {max-height: 100%;}

#view ul.list-files.thumbs li .preview-folders ul li {
    
}

#view ul.list-files li .preview-folders ul li a {
    padding: 8px 12px 8px 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    white-space: pre;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, .1);
    border-width: 0px 0px 1px 0px;
    box-shadow: 0px 0px 6px -3px #000;
}

#view ul.list-files li .preview-folders ul li a > i{
    margin-left: 35px;
}

#view ul.list-files li .preview-folders ul li a.favorite > i{
    margin-left: 0;
}

#view ul.list-files li .preview-folders ul li a.favorite {
    border: none;
    box-shadow: none;
    top: 0;
}

#view ul.list-files li .preview-folders ul li a.icon {
    border: none;
    box-shadow: none;
}

header#main-header {
    width: 100%;
    padding: 25px 25px 40px;
    background-color: #e5e5e5;
    border-bottom: 6px solid #999;
}

header#main-header h1 {
    width: 100%;
    margin: 4px 0 8px;
    color: #333;
    white-space: pre;
    display: inline-block;
    overflow-x: auto;
}

header#main-header .change-type-view {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header#main-header .change-type-view .type-view {
    font-size: 17px;
    margin: 5px 20px 10px 0;
    display: block;
}

header#main-header .change-type-view ul {
    list-style: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header#main-header .change-type-view ul li {
    margin: 1px;
    padding: 6px 10px;
    background-color: #eee;
    cursor: pointer;
}

header#main-header .change-type-view ul li.active {
    background-color: #666;
    color: #efefef;
}

header#main-header .change-type-view ul li:hover {
    background-color: #333;
    color: #efefef;
}
